$brand-primary-color: #936FB1;
$brand-secondary-color: #fff;
$brand-alt-color: blue;
$brand-border-color: yellow;
$brand-transparent-color: rgba(0, 0, 0, 0.1);
$text-secondarty-color: #fff;

$bgDefault      : #ffffff;
$bgHighlight    : #ffffff;
$colDefault     : #7d8e92;
$colHighlight   : #7d8e92;
$dropDown       : false;
