nav ul {
  display: inline;
}

nav ul a {
  color: #936FB1;
}

nav ul a:hover {
  text-decoration: none;
  color: #936FB1;
}

nav ul a:focus {
  text-decoration: none;
  color: #936FB1;
}

nav li {
  display: inline;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.error {
  background-color: red;
  color: white;
}
